# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_chlym2m
VITE_EMAILJS_TEMPLATE_ID=template_ebr8jm6
VITE_EMAILJS_PUBLIC_KEY=dKoweYJYVUd71Qg0G

# RSS Feed Configuration
VITE_RSS_FEED_URL=https://akilicheck.com/feed
